<div>
	<button data-dojo-type="dijit/form/Button"
			data-dojo-props="disabled:false"
			data-dojo-attach-point="myButtonToForm"
			data-dojo-attach-event="onClick:onMyButtonToFormClick">${myButtonToFormLabel}</button>
	<button data-dojo-type="dijit/form/Button"
			data-dojo-props="disabled:false"
			data-dojo-attach-point="myButtonToGrid"
			data-dojo-attach-event="onClick:onMyButtonToGridClick">${myButtonToGridLabel}</button>

	<div data-dojo-attach-point="myGrid" style="width:758px;height:300px"></div>

</div>